<div class="publisher-window">
  <div class="publisher-window__preview" {{did-insert onInsert}}>
    <video id="publisherStream" playsinline autoplay muted></video>
    <div class="publisher-window__preview-actions">
      <button class="rts-btn rts-btn--icon" type="button">
        <span class="material-icons" {{on 'click' toggleAudio}}>
          {{if streamAudio "mic" "mic_off"}}
        </span>
      </button>

      <button class="rts-btn rts-btn--icon" type="button">
        <span class="material-icons" {{on 'click' toggleVideo}}>
          {{if streamVideo "videocam" "videocam_off"}}
        </span>
      </button>
    </div>
  </div>

  <div class="publisher-window__config">
    <form class="rts-form">
      {{#unless @hideSettings}}

        <RtsField @type="select" @label="Camera">
          <select class="rts-field__input" {{on 'change' updateSelectedVideo}}>
            {{#each videoInputOptions as |input|}}
            <option value="{{input.value}}">{{input.text}}</option>
            {{/each}}
          </select>
        </RtsField>

        <RtsField @type="select" @label="Microphone">
          <select class="rts-field__input" {{on 'change' updateSelectedAudio}}>
            {{#each audioInputOptions as |input|}}
            <option value="{{input.value}}">{{input.text}}</option>
            {{/each}}
          </select>
        </RtsField>

      {{/unless}}

      {{#if (has-block "fields")}}
        {{yield to="fields"}}
      {{/if}}

      <div class="publisher-window__actions">
        {{#if @isJoined}}
          <button
            class="rts-btn rts-btn--primary"
            type="button"
            {{on 'click' onJoin}}
          >
            Join
          </button>
        {{else}}
          <button
            class="rts-btn rts-btn--primary"
            type="button"
            {{on 'click' onLeave}}
          >
            Leave
          </button>
        {{/if}}

        {{#if (has-block "actions")}}
          {{yield to="actions"}}
        {{/if}}
      </div>
    </form>
  </div>
</div>