<RtsTray @trayClass="event">
  <:title>
    {{this.model.title}}
  </:title>

  <:desc>
    {{this.model.desc}}
  </:desc>

  <:content>
    <div class="event-streams--header">
      Streams:
    </div>

    <div class="event-streams">
      {{#each this.model.streams as |stream|}}
      <div class="event-streams--item">
        <RtsField @type='select' @label={{stream.title}}>
          <select class="rts-field__input" {{on 'change' (fn this.updateUser stream)}}>
          {{#unless stream.userId}}
            <option disabled selected value>-- Select a User --</option>
          {{/unless}}
          {{#each this.users as |user|}}
            <option
              value="{{user.id}}"
              selected="{{if (eq user.id stream.userId) 'true'}}"
              >
              {{user.firstName}} {{user.lastName}} ({{user.email}})
            </option>
          {{/each}}
          </select>
        </RtsField>
      </div>
      {{else}}
      <span>No Publisher Streams</span>
      {{/each}}
    </div>
  </:content>

  <:actions>
    <LinkTo
      class="rts-btn rts-btn--primary"
      @route="authenticated.admin.events"
    >
      Close
    </LinkTo>
  </:actions>
</RtsTray>
