
<div class="rts-wrap">
    <header class="rts-hdr">
        <div class="rts-hdr__title">
            {{#if @model.state}}
            <span class="rts-pill rts-hdr__status {{concat 'rts-pill--' @model.state}}">{{@model.state}}</span>
            {{/if}}
            <h1>{{@model.title}}</h1>
        </div>
        <div class="rts-hdr__brand">
            <span>powered by</span>
            <img src="/images/vzm_rgb_r.png" alt="verizon media" />
        </div>
    </header>
    <main class="rts-main">
        {{#if (eq @model.state 'complete')}}
        <div class="notification">
            This event has ended
        </div>
        {{else if (not-eq @model.state 'live')}}
        <div class="notification">
            It looks like we're not quite ready yet, sorry
        </div>
        {{/if}}

        <div class="rts-streams">
            {{#each this.streams as |stream|}}
            <ChannelViewer @stream={{stream}} @channelExpress={{channelExpress}}>
            </ChannelViewer>
            {{/each}}
        </div>

        {{outlet}}
    </main>
    <footer class="rts-ftr">
        <div>

        </div>
        <div class="rts-ftr__controls">
            <button class="rts-btn rts-btn--icon"><span class="material-icons">mic</span></button>
            <button class="rts-btn rts-btn--icon"><span class="material-icons">videocam</span></button>
            <button class="rts-btn rts-btn--primary">Leave</button>
        </div>
        <div class="rts-ftr__aux">

        </div>
    </footer>
</div>
