<div class="wrapper">
    <div class="header {{concat 'header--' @model.state}}">
        <span>{{@model.title}}</span>
    </div>
    <div class="body">
        {{#if (eq @model.state 'complete')}}
        <div class="notification">
            This event has ended
        </div>
        {{else if (not-eq @model.state 'live')}}
        <div class="notification">
            It looks like we're not quite ready yet, sorry
        </div>
        {{/if}}

        <div class="streams">
            {{#each @model.streams as |stream|}}
            <ChannelViewer @stream={{stream}} @channelExpress={{channelExpress}}>
            </ChannelViewer>
            {{/each}}
        </div>

        {{outlet}}
    </div>
    <div class="footer">

    </div>
</div>