<div class="rts-stream {{if this.isActive 'is-active'}}" {{did-insert this.onInsert}} {{on 'click' this.setActive}}>
    <video
        autoplay
    ></video>

    <div class="rts-stream__head">
        <h3 class="rts-stream__title">{{@stream.title}}</h3>
        <div class="rts-stream__controls">
            <button class="rts-btn rts-btn--sm rts-btn--icon rts-btn--alert" type="button" {{on "click" this.toggleMute}}>
                <span class="material-icons md-18">{{if this.isMuted 'volume_off' 'volume_up'}}</span>
            </button>
        </div>
    </div>
</div>
