<RtsTray @trayClass="user">
  <:title>
    {{this.model.firstName}} {{this.model.lastName}}
  </:title>

  <:content>
    <RtsField @label="First Name">
      <Input
        id="user-firstName"
        class="rts-field__input"
        @type="text"
        @value={{this.model.firstName}}
      />
    </RtsField>

    <RtsField @label="Last Name">
      <Input
        id="user-lastName"
        class="rts-field__input"
        @type="text"
        @value={{this.model.lastName}}
      />
    </RtsField>

    <RtsField @label="Email">
      <Input
        id="user-email"
        class="rts-field__input"
        @type="text"
        @value={{this.model.email}}
      />
    </RtsField>

    {{!-- <RtsField @label="Password">
      <Input
        id="user-password"
        class="rts-field__input"
        @type="password"
        @value={{this.model.password}}
      />
    </RtsField> --}}
  </:content>

  <:actions>
    <button class="rts-btn rts-btn--secondary" type="reset" {{on "click" this.onCancel}}>
      Cancel
    </button>

    <button class="rts-btn rts-btn--primary" type="submit" {{on "click" this.onSave}}>
      Save
    </button>
  </:actions>
</RtsTray>
