<RtsTray @trayClass="user">
  <:title>
        New User:
  </:title>

  <:content>
    <div class="rts-form">
      <RtsField @label="First Name">
        <Input
          id="user-firstName"
          class="rts-field__input"
          @type="text"
          @value={{this.firstName}}
        />
      </RtsField>

      <RtsField @label="Last Name">
        <Input
          id="user-lastName"
          class="rts-field__input"
          @type="text"
          @value={{this.lastName}}
        />
      </RtsField>

      <RtsField @label="Email">
        <Input
          id="user-email"
          class="rts-field__input"
          @type="text"
          @value={{this.email}}
        />
      </RtsField>

      <RtsField @label="Password">
        <label class="rts-field__label" for="user-password">Password</label>
        <Input
          id="user-password"
          class="rts-field__input"
          @type="password"
          @value={{this.password}}
        />
      </RtsField>
    </div>
  </:content>

  <:actions>
    <LinkTo
      @route="authenticated.admin.users"
      class="rts-btn rts-btn--secondary"
    >
      Cancel
    </LinkTo>

    <button class="rts-btn rts-btn--primary" {{on "click" this.onSave}}>
      Save
    </button>
  </:actions>
</RtsTray>
